*.gem
*.rbc
.bundle
.config
.DS_Store
.rbenv-gemsets
.rbenv-gemsets
.ruby-gemset
.ruby-version
.sass-cache
.yardoc
_yardoc
coverage
doc
Gemfile.lock
InstalledFiles
lib/bundler/man
pkg
rdoc
site
spec/fixtures/default/log
spec/reports
test/tmp
test/version_tmp
tests
tests
tmp