---
title: A song template
content_type: songs
---
{% extends 'index' %}

{% block content %}

%h3 {{ song.title }}

%p {{ song.short_description }}

#is_templatized{templatized: "{{ page.templatized? }}"}
#content_type_size{content_type_size: "{{ page.content_type.size }}"}

{% endblock %}