{% if editing %}
{% assign social_rss_url = "#" %}
{% assign social_twitter_url = "#" %}
{% assign social_dribbble_url = "#" %}
{% assign social_linkedin_url = "#" %}
{% endif %}

#social.large-5.large-offset-1.columns
  %a.rss{ href: '{{ social_rss_url }}' }
    %i.fa.fa-rss

  %a.twitter{ href: '{{ social_twitter_url }}' }
    %i.fa.fa-twitter

  %a.dribbble{ href: '{{ social_dribbble_url }}' }
    %i.fa.fa-dribbble

  %a.linkedin{ href: '{{ social_linkedin_url }}' }
    %i.fa.fa-linkedin