---
title: Home page
published: true
---
!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}

    %title {{ page.title }}

    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => "{{ site.meta_description }}", :name => "description"}
    %meta{:content => "{{ site.meta_keywords }}", :name => "keywords"}

    / Fonts
    {{ 'fonts/awesome.css' | stylesheet_tag }}
    {{ 'fonts/font-awesome.css' | stylesheet_tag }}
    /[if IE 7]
      {{ 'fonts/font-awesome-ie7.min.css' | stylesheet_tag }}

    / Le styles
    {{ 'bootstrap.css' | stylesheet_tag }}
    {{ 'bootstrap-responsive.css' | stylesheet_tag }}
    {{ 'application.css' | stylesheet_tag }}

    / HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

    {% inline_editor %}
  %body

    .container-narrow
      .masthead
        %ul.nav.nav-pills.pull-right
          %li.active
            %a{:href => "/"} Home
          %li
            %a{:href => "/about"} About
          %li
            %a{:href => "/contact"} Contact
        %h3.muted {{ site.name }}

      %hr

      {% block 'main' %}
      .jumbotron
        %h1 Super awesome marketing speak!
        %p.lead Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
        %a.btn.icon-flag.btn-large.btn-success{:href => "#"} Sign up today

      %hr

      .row-fluid.marketing
        .span6
          %h4 Subheading
          %p Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
          %h4 Subheading
          %p Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
          %h4 Subheading
          %p Maecenas sed diam eget risus varius blandit sit amet non magna.
        .span6
          %h4 Subheading
          %p Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
          %h4 Subheading
          %p Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
          %h4 Subheading
          %p Maecenas sed diam eget risus varius blandit sit amet non magna.
      {% endblock %}
      %hr

      {% include footer %}
    / /container
    /
      Le javascript
      \==================================================
    / Placed at the end of the document so the pages load faster
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"}
    {{ 'bootstrap.js' | javascript_tag }}