---
title: Email registered with success!
published: true
---
{% extends index %}

{% block 'main' %}
.row

  .alert-box.success{ data: { alert: '' } }
    %h3.text-center Congratulations, your email address has been registered!

{% endblock %}