---
title: Home page
published: true
---
!!!
/[if IE 8] <html class="no-js lt-ie9" lang="en" >
/ [if gt IE 8]><!
%html.no-js{lang: "en"}
  / <![endif]
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width", name: "viewport"}/
    %title {{ site.seo_title }}

    %link{ href: 'http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300', rel: 'stylesheet', type: 'text/css' }

    %link{ href: '//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css', rel: 'stylesheet', type: 'text/css' }

    {{ 'normalize.css' | stylesheet_tag }}
    {{ 'foundation.min.css' | stylesheet_tag }}
    {{ 'pages.css' | stylesheet_tag }}

    {{ 'vendor/custom.modernizr.js' | javascript_tag }}

    {{ 'vendor/zepto.js' | javascript_tag }}
    {{ 'foundation.min.js' | javascript_tag }}

    {% inline_editor %}

  %body
    %header
      #background-image

      #logo.row
        .small-12.columns
          %h1
            __
            %a{ href: '/' }> {{ site.name }}

      #banner.row
        .small-12.columns
          {% editable_text header, fixed: true %}
          %h2 DEMO LOCOMOTIVECMS
          %p
            An example of how to use content types
            %br
            and editable elements for a portfolio website.
          {% endeditable_text %}

    .row

    #content
      {% block main %}
      .row
        .small-12.columns
          {% include projects %}

      .row
        .small-6.columns
          {% editable_text first_column %}
          %h2 Design & Illustrative
          %p
            Sed suscipit risus vel sapien fringilla elementum. Donec vulputate sapien suscipit nulla tincidunt sodales. Ut ut nisi in nisl convallis ultricies. Curabitur tristique faucibus tincidunt. Donec rutrum mi faucibus nisi luctus sodales facilisis neque semper.
            %br
            %br
            Curabitur euismod dignissim orci, at vestibulum ligula convallis non. Etiam sagittis diam quis felis volutpat convallis. In vehicula, est sit amet iaculis venenatis, mauris felis euismod tellus, sed facilisis eros felis in nunc. Nam nec arcu vel magna posuere malesuada. Fusce pretium magna vitae elit imperdiet dignissim. Duis egestas quam sit amet tortor vestibulum ac rhoncus dolor vulputate. Maecenas sit amet neque in est iaculis vestibulum.
          {% endeditable_text %}

        .small-6.columns
          {% editable_text second_column %}
          %h2 Years of experience
          %p
            Sed suscipit risus vel sapien fringilla elementum. Donec vulputate sapien suscipit nulla tincidunt sodales. Ut ut nisi in nisl convallis ultricies. Curabitur tristique faucibus tincidunt. Donec rutrum mi faucibus nisi luctus sodales facilisis neque semper.
            %br
            %br
            Curabitur euismod dignissim orci, at vestibulum ligula convallis non. Etiam sagittis diam quis felis volutpat convallis. In vehicula, est sit amet iaculis venenatis, mauris felis euismod tellus, sed facilisis eros felis in nunc. Nam nec arcu vel magna posuere malesuada. Fusce pretium magna vitae elit imperdiet dignissim. Duis egestas quam sit amet tortor vestibulum ac rhoncus dolor vulputate. Maecenas sit amet neque in est iaculis vestibulum.
          {% endeditable_text %}

        {% endblock %}

    {% block social %}

    {% capture social_rss_url %}{% editable_text rss, format: raw, line_break: false, rows: 1, fixed: true %}http://www.locomotivecms.com/articles{% endeditable_text %}{% endcapture %}

    {% capture social_twitter_url %}{% editable_text twitter, format: raw, line_break: false, rows: 1, fixed: true %}https://twitter.com/locomotivecms{% endeditable_text %}{% endcapture %}

    {% capture social_dribbble_url %}{% editable_text dribbble, format: raw, line_break: false, rows: 1, fixed: true %}http://dribbble.com/blazrobar{% endeditable_text %}{% endcapture %}

    {% capture social_linkedin_url %}{% editable_text linkedin, format: raw, line_break: false, rows: 1, fixed: true %}http://www.linkedin.com/in/didier31{% endeditable_text %}{% endcapture %}

    {% endblock %}

    %footer
      .row
        #contact.small-12.large-6.columns
          .row
            .small-12.large-12.columns
              %h1 ___{{ site.name }}

              {% editable_text newsletter, fixed: true %}
              %p
                About the designer: Blaz Robar is a graphic designer from Melbourne, Australia. More information about him <a href="http://www.blazrobar.com">here</a>.
              {% endeditable_text %}

          {% include newsletter_form %}

        {% include social_links %}

    :javascript
      Zepto(function($){ $(document).foundation() })
