/ Side Navigation
%nav#mySidebar.w3-sidebar.w3-bar-block.w3-card-2.w3-animate-left.w3-center{:style => "display:none"}
  %h1.w3-xxxlarge.w3-text-theme Side Navigation
  %button.w3-bar-item.w3-button{:onclick => "w3_close()"}
    Close
    %i.fa.fa-remove
  %a.w3-bar-item.w3-button{:href => "#"} Link 1
  %a.w3-bar-item.w3-button{:href => "#"} Link 2
  %a.w3-bar-item.w3-button{:href => "#"} Link 3
  %a.w3-bar-item.w3-button{:href => "#"} Link 4
