---
position: 5
---
{% extends parent %}

{% block content %}

%p Thank you {{ message.name }} !

#events.unit.size2of3
  %h2 Upcoming events

  %ul.list
    {% for event in contents.events %}
    %li
      %em {{ event.date | localized_date: '%a, %B %d, %Y' }}
      &nbsp;-&nbsp;
      {{ event.place }}, {{ event.city }}, {{ event.state }}
    {% endfor %}

#sidebar.unit.size1of3
  {% editable_long_text 'sidebar' %}

  %p
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae tincidunt urna. Nunc felis purus, ultricies et venenatis bibendum, fringilla eu lectus. Sed cursus, sem at blandit mattis, libero quam egestas tortor, eget cursus dolor tellus id nunc. Quisque mauris diam, tincidunt in commodo sed, feugiat eu nibh. Nulla erat nunc, dapibus vel eleifend et, egestas sed quam. Vestibulum mollis eros at dolor vulputate vel sollicitudin enim convallis. Etiam velit nisi, rutrum vel sagittis facilisis, pretium id lorem. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque mauris nisl, consequat sed tincidunt nec, lacinia in odio. In hac habitasse platea dictumst. Nam semper libero aliquam turpis gravida vel varius erat vulputate. Integer consequat ipsum vitae augue porttitor ullamcorper. Nam vulputate aliquet ante at gravida. Vestibulum luctus urna et dui hendrerit eu suscipit velit varius. Sed ornare eleifend sem, vitae pharetra dolor sodales egestas. Mauris lobortis hendrerit odio, vitae porttitor urna rutrum at. Ut at lectus erat, nec dictum dolor. Praesent in sapien interdum nibh euismod vestibulum. Vestibulum tincidunt pulvinar accumsan

  {% endeditable_long_text %}

  %p
    %strong Discover: {% link_to our-music %}
    %br
    %strong More about us: {% link_to about-us %}Who are we ?{% endlink_to %}
    %br
    %strong Plus à notre sujet: {% link_to about-us, locale: fr %}Qui sommes nous ?{% endlink_to %}
    %br
    {% assign song = contents.songs.first %}
    %strong {% link_to song %}
    %br
    {% assign another_song = contents.songs.last %}
    %strong {% link_to another_song, with: a-song-template %}

{% endblock %}