---
http_interactions:
- request:
    method: post
    uri: http://locomotive.engine.dev:3000/locomotive/api/tokens.json
    body:
      encoding: US-ASCII
      string: email=admin%40locomotivecms.com&password=locomotive
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Location:
      - http://locomotive.engine.dev:3000/locomotive/
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"4f7e33d0d4bfa634c36913dd6b5c2881"'
    body:
      encoding: US-ASCII
      string: ! '{"token":"C3NNrE3RCZgGwiYoyJeQ"}'
  recorded_at: Fri, 21 Dec 2012 09:41:34 GMT
- request:
    method: get
    uri: http://locomotive.engine.dev:3000/locomotive/api/current_site.json?auth_token=C3NNrE3RCZgGwiYoyJeQ
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"389645a4f7238ecca42ee350dfd75e54"'
    body:
      encoding: US-ASCII
      string: ! '{"id":"50c99d81c82cd100d3000005","_id":"50c99d81c82cd100d3000005","created_at":"2012-12-13T10:18:57+01:00","updated_at":"2012-12-19T13:16:51+01:00","name":"locomotive","locales":["en","es"],"domain_name":"engine.dev","subdomain":"locomotive","domains":["locomotive.engine.dev"],"robots_txt":null,"seo_title":null,"meta_keywords":null,"meta_description":null,"domains_without_subdomain":[],"memberships":[{"id":"50c99d81c82cd100d3000006","_id":"50c99d81c82cd100d3000006","created_at":null,"updated_at":null,"account_id":"50c99d78c82cd100d3000003","name":"Locomotive","email":"admin@locomotivecms.com","role":"admin","role_name":"Administrator","can_update":false,"grant_admin":true}]}'
  recorded_at: Fri, 21 Dec 2012 09:41:34 GMT
- request:
    method: get
    uri: http://locomotive.engine.dev:3000/locomotive/api/current_site.json?auth_token=C3NNrE3RCZgGwiYoyJeQ&locale=es
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"f11061da9e0505a8ed16223deff23ca7"'
    body:
      encoding: US-ASCII
      string: ! '{"id":"50c99d81c82cd100d3000005","_id":"50c99d81c82cd100d3000005","created_at":"2012-12-13T10:18:57+01:00","updated_at":"2012-12-19T13:16:51+01:00","name":"locomotive","locales":["en","es"],"domain_name":"engine.dev","subdomain":"locomotive","domains":["locomotive.engine.dev"],"robots_txt":null,"seo_title":null,"meta_keywords":null,"meta_description":null,"domains_without_subdomain":[],"memberships":[{"id":"50c99d81c82cd100d3000006","_id":"50c99d81c82cd100d3000006","created_at":null,"updated_at":null,"account_id":"50c99d78c82cd100d3000003","name":"Locomotive","email":"admin@locomotivecms.com","role":"admin","role_name":"Administrador","can_update":false,"grant_admin":true}]}'
  recorded_at: Fri, 21 Dec 2012 09:41:34 GMT
- request:
    method: get
    uri: http://locomotive.engine.dev:3000/locomotive/api/snippets.json?auth_token=C3NNrE3RCZgGwiYoyJeQ
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"d751713988987e9331980363e24189ce"'
    body:
      encoding: US-ASCII
      string: ! '[]'
  recorded_at: Fri, 21 Dec 2012 09:41:34 GMT
- request:
    method: get
    uri: http://locomotive.engine.dev:3000/locomotive/api/content_types.json?auth_token=C3NNrE3RCZgGwiYoyJeQ
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"3d75b159ec848dee626d4a0a1af71528"'
    body:
      encoding: US-ASCII
      string: ! '[{"id":"50d1afe2c82cd100d3000015","_id":"50d1afe2c82cd100d3000015","created_at":"2012-12-19T13:15:30+01:00","updated_at":"2012-12-19T15:06:18+01:00","name":"Products","description":"My
        products collection","slug":"products","order_by":"created_at","order_direction":"asc","label_field_name":"name","group_by_field_id":null,"public_submission_accounts":null,"entries_custom_fields":[{"_id":"50d1afe2c82cd100d3000016","class_name":null,"created_at":null,"hint":null,"inverse_of":null,"label":"name","localized":true,"name":"name","order_by":null,"position":0,"required":true,"text_formatting":"html","type":"string","ui_enabled":true,"updated_at":null,"id":"50d1afe2c82cd100d3000016"},{"_id":"50d1afe2c82cd100d3000017","class_name":null,"created_at":null,"hint":null,"inverse_of":null,"label":"available","localized":false,"name":"available","order_by":null,"position":1,"required":false,"text_formatting":"html","type":"boolean","ui_enabled":true,"updated_at":null,"id":"50d1afe2c82cd100d3000017"}],"klass_name":"Locomotive::Entry50d1afe2c82cd100d3000015"}]'
  recorded_at: Fri, 21 Dec 2012 09:41:34 GMT
- request:
    method: get
    uri: http://locomotive.engine.dev:3000/locomotive/api/content_types/products/entries.json?auth_token=C3NNrE3RCZgGwiYoyJeQ
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"05849b072f5e7363f3023cdce91a94a7"'
    body:
      encoding: US-ASCII
      string: ! '[{"id":"50d1c0bfc82cd100d300001a","_id":"50d1c0bfc82cd100d300001a","created_at":"2012-12-19T14:27:27+01:00","updated_at":"2012-12-19T14:28:21+01:00","name":"Useless
        stuff","available":true,"_label":"Useless stuff","_slug":"useless-stuff","_position":1,"content_type_slug":"products","select_custom_fields":[],"file_custom_fields":[],"has_many_custom_fields":[],"many_to_many_custom_fields":[],"translated_in":["en","es"],"safe_attributes":["name","available","_slug","seo_title","meta_keywords","meta_description","_destroy"]}]'
  recorded_at: Fri, 21 Dec 2012 09:41:34 GMT
- request:
    method: get
    uri: http://locomotive.engine.dev:3000/locomotive/api/content_types/products/entries/50d1c0bfc82cd100d300001a.json?auth_token=C3NNrE3RCZgGwiYoyJeQ&locale=en
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"1dc548e9f4281cb37e55f6677e1fc5a1"'
    body:
      encoding: US-ASCII
      string: ! '{"id":"50d1c0bfc82cd100d300001a","_id":"50d1c0bfc82cd100d300001a","created_at":"2012-12-19T14:27:27+01:00","updated_at":"2012-12-19T14:28:21+01:00","name":"Useless
        stuff","available":true,"_label":"Useless stuff","_slug":"useless-stuff","_position":1,"content_type_slug":"products","select_custom_fields":[],"file_custom_fields":[],"has_many_custom_fields":[],"many_to_many_custom_fields":[],"translated_in":["en","es"],"safe_attributes":["name","available","_slug","seo_title","meta_keywords","meta_description","_destroy"]}'
  recorded_at: Fri, 21 Dec 2012 09:41:34 GMT
- request:
    method: get
    uri: http://locomotive.engine.dev:3000/locomotive/api/content_types/products/entries/50d1c0bfc82cd100d300001a.json?auth_token=C3NNrE3RCZgGwiYoyJeQ&locale=es
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"1d8801346f446ac3837350d86c10c458"'
    body:
      encoding: US-ASCII
      string: ! '{"id":"50d1c0bfc82cd100d300001a","_id":"50d1c0bfc82cd100d300001a","created_at":"2012-12-19T14:27:27+01:00","updated_at":"2012-12-19T14:28:21+01:00","name":"Cosas
        in\u00fatiles","available":true,"_label":"Cosas in\u00fatiles","_slug":"useless-stuff","_position":1,"content_type_slug":"products","select_custom_fields":[],"file_custom_fields":[],"has_many_custom_fields":[],"many_to_many_custom_fields":[],"translated_in":["en","es"],"safe_attributes":["name","available","_slug","seo_title","meta_keywords","meta_description","_destroy"]}'
  recorded_at: Fri, 21 Dec 2012 09:41:34 GMT
- request:
    method: get
    uri: http://locomotive.engine.dev:3000/locomotive/api/content_assets.json?auth_token=C3NNrE3RCZgGwiYoyJeQ
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"d751713988987e9331980363e24189ce"'
    body:
      encoding: US-ASCII
      string: ! '[]'
  recorded_at: Fri, 21 Dec 2012 09:41:34 GMT
- request:
    method: get
    uri: http://locomotive.engine.dev:3000/locomotive/api/pages.json?auth_token=C3NNrE3RCZgGwiYoyJeQ
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"c0f0a294fb3dbaf195badd76be7e611f"'
    body:
      encoding: US-ASCII
      string: ! '[{"id":"50c99d81c82cd100d3000007","_id":"50c99d81c82cd100d3000007","created_at":"2012-12-13T10:18:58+01:00","updated_at":"2012-12-21T10:08:41+01:00","title":"Home
        page","slug":"index","fullpath":"index","handle":null,"position":0,"raw_template":"Content of the home page\r\n","published":true,"listed":true,"templatized":false,"templatized_from_parent":false,"target_klass_slug":null,"redirect":false,"redirect_url":null,"cache_strategy":"none","response_type":"text/html","template_changed":null,"editable_elements":[],"localized_fullpaths":{"en":"","es":"es"},"translated_in":["en","es"]},{"id":"50d42e85c82cd100d3000042","_id":"50d42e85c82cd100d3000042","created_at":"2012-12-21T10:40:21+01:00","updated_at":"2012-12-21T10:40:21+01:00","title":"Products","slug":"products","fullpath":"products","handle":null,"position":0,"raw_template":"{%
        extends ''parent'' %}\r\n{% block content %}\r\n{% endblock %}","published":false,"listed":true,"templatized":false,"templatized_from_parent":false,"target_klass_slug":null,"redirect":false,"redirect_url"[...]
- request:
    method: get
    uri: http://locomotive.engine.dev:3000/locomotive/api/pages/50c99d81c82cd100d3000007.json?auth_token=C3NNrE3RCZgGwiYoyJeQ&locale=es
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"baf016bca239f7b42bbbc61a7fc3cedd"'
    body:
      encoding: US-ASCII
      string: ! '{"id":"50c99d81c82cd100d3000007","_id":"50c99d81c82cd100d3000007","created_at":"2012-12-13T10:18:58+01:00","updated_at":"2012-12-21T10:08:41+01:00","title":"P\u00e1gina
        de inicio","slug":"index","fullpath":"index","handle":null,"position":0,"raw_template":"New
        content of the home page\n","published":true,"listed":true,"templatized":false,"templatized_from_parent":false,"target_klass_slug":null,"redirect":false,"redirect_url":null,"cache_strategy":"none","response_type":"text/html","template_changed":null,"editable_elements":[],"localized_fullpaths":{"en":"","es":"es"},"translated_in":["en","es"]}'
  recorded_at: Fri, 21 Dec 2012 09:41:34 GMT
[...]
- request:
    method: get
    uri: http://locomotive.engine.dev:3000/locomotive/api/theme_assets.json?auth_token=C3NNrE3RCZgGwiYoyJeQ
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"d751713988987e9331980363e24189ce"'
    body:
      encoding: US-ASCII
      string: ! '[]'
  recorded_at: Fri, 21 Dec 2012 09:41:34 GMT
- request:
    method: post
    uri: http://locomotive.engine.dev:3000/locomotive/api/tokens.json?auth_token=C3NNrE3RCZgGwiYoyJeQ
    body:
      encoding: US-ASCII
      string: email=admin%40locomotivecms.com&password=locomotive
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Location:
      - http://locomotive.engine.dev:3000/locomotive/
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"4f7e33d0d4bfa634c36913dd6b5c2881"'
    body:
      encoding: US-ASCII
      string: ! '{"token":"C3NNrE3RCZgGwiYoyJeQ"}'
  recorded_at: Fri, 21 Dec 2012 09:41:34 GMT
recorded_with: VCR 2.3.0
