---
http_interactions:
- request:
    method: post
    uri: http://locomotive.engine.dev:3000/locomotive/api/tokens.json
    body:
      encoding: US-ASCII
      string: email=admin%40locomotivecms.com&password=locomotive
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Location:
      - http://locomotive.engine.dev:3000/locomotive/
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"e29ee4caaed0880055c032e8a8586878"'
    body:
      encoding: US-ASCII
      string: ! '{"token":"jKkxPorzWo8uNYUxiiQC"}'
  recorded_at: Thu, 24 Jan 2013 10:44:23 GMT
- request:
    method: get
    uri: http://locomotive.engine.dev:3000/locomotive/api/current_site.json?auth_token=jKkxPorzWo8uNYUxiiQC
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"116f03a67f2d85f59d9496bc0fd26224"'
    body:
      encoding: US-ASCII
      string: ! '{"id":"51010fd2c82cd17179000001","_id":"51010fd2c82cd17179000001","created_at":"2013-01-24T11:41:22+01:00","updated_at":"2013-01-24T11:43:08+01:00","name":"locomotive","locales":["en","es"],"subdomain":"locomotive","domains":["locomotive.engine.dev"],"domains_without_subdomain":[],"domain_name":"engine.dev","memberships":[{"id":"51010fd2c82cd17179000005","_id":"51010fd2c82cd17179000005","role":"admin","role_name":"Administrator","can_update":false,"grant_admin":true,"account_id":"51010fd2c82cd17179000004","name":"Admin","email":"admin@locomotivecms.com"}]}'
  recorded_at: Thu, 24 Jan 2013 10:44:23 GMT
- request:
    method: get
    uri: http://locomotive.engine.dev:3000/locomotive/api/current_site.json?auth_token=jKkxPorzWo8uNYUxiiQC&locale=es
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"290f92414519318b73a02cf9bd36344d"'
    body:
      encoding: US-ASCII
      string: ! '{"id":"51010fd2c82cd17179000001","_id":"51010fd2c82cd17179000001","created_at":"2013-01-24T11:41:22+01:00","updated_at":"2013-01-24T11:43:08+01:00","name":"locomotive","locales":["en","es"],"subdomain":"locomotive","domains":["locomotive.engine.dev"],"domains_without_subdomain":[],"domain_name":"engine.dev","memberships":[{"id":"51010fd2c82cd17179000005","_id":"51010fd2c82cd17179000005","role":"admin","role_name":"Administrador","can_update":false,"grant_admin":true,"account_id":"51010fd2c82cd17179000004","name":"Admin","email":"admin@locomotivecms.com"}]}'
  recorded_at: Thu, 24 Jan 2013 10:44:23 GMT
- request:
    method: get
    uri: http://locomotive.engine.dev:3000/locomotive/api/content_assets.json?auth_token=jKkxPorzWo8uNYUxiiQC
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"d751713988987e9331980363e24189ce"'
    body:
      encoding: US-ASCII
      string: ! '[]'
  recorded_at: Thu, 24 Jan 2013 10:44:23 GMT
- request:
    method: get
    uri: http://locomotive.engine.dev:3000/locomotive/api/snippets.json?auth_token=jKkxPorzWo8uNYUxiiQC
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"d751713988987e9331980363e24189ce"'
    body:
      encoding: US-ASCII
      string: ! '[]'
  recorded_at: Thu, 24 Jan 2013 10:44:23 GMT
- request:
    method: get
    uri: http://locomotive.engine.dev:3000/locomotive/api/content_types.json?auth_token=jKkxPorzWo8uNYUxiiQC
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"821b57c9b4131678fd1b597e87252e96"'
    body:
      encoding: US-ASCII
      string: ! '[{"id":"5101101bc82cd12530000013","_id":"5101101bc82cd12530000013","created_at":"2013-01-24T11:42:35+01:00","updated_at":"2013-01-24T11:42:35+01:00","name":"Products","slug":"products","entries_custom_fields":[{"id":"5101101bc82cd12530000014","_id":"5101101bc82cd12530000014","name":"name","label":"name","type":"string","required":true,"localized":true,"position":0},{"id":"5101101bc82cd12530000015","_id":"5101101bc82cd12530000015","name":"available","label":"available","type":"boolean","required":false,"localized":false,"position":1}],"description":"My
        products collection","label_field_name":"name","order_by":"created_at","order_direction":"asc","order_by_field_name":"created_at","public_submission_enabled":false,"public_submission_account_emails":[]}]'
  recorded_at: Thu, 24 Jan 2013 10:44:23 GMT
- request:
    method: get
    uri: http://locomotive.engine.dev:3000/locomotive/api/content_types/products/entries.json?auth_token=jKkxPorzWo8uNYUxiiQC
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Etag:
      - ! '"75b1ac8a95d518ac69b5f02f6dc4d132"'
    body:
      encoding: US-ASCII
      string: ! '[{"id":"5101101bc82cd12530000016","_id":"5101101bc82cd12530000016","created_at":"2013-01-24T11:42:35+01:00","updated_at":"2013-01-24T11:43:08+01:00","_label":"Useless
        stuff","_slug":"useless-stuff","_position":0,"content_type_slug":"products","translated_in":["en"],"name":"Useless
        stuff","available":true}]'
  recorded_at: Thu, 24 Jan 2013 10:44:23 GMT
- request:
    method: get
    uri: http://locomotive.engine.dev:3000/locomotive/api/content_types/products/entries/5101101bc82cd12530000016.json?auth_token=jKkxPorzWo8uNYUxiiQC&locale=en
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Etag:
      - ! '"f2a0d516ed3a703c2e3e670fefef2216"'
    body:
      encoding: US-ASCII
      string: ! '{"id":"5101101bc82cd12530000016","_id":"5101101bc82cd12530000016","created_at":"2013-01-24T11:42:35+01:00","updated_at":"2013-01-24T11:43:08+01:00","_label":"Useless
        stuff","_slug":"useless-stuff","_position":0,"content_type_slug":"products","translated_in":["en"],"name":"Useless
        stuff","available":true}'
  recorded_at: Thu, 24 Jan 2013 10:44:24 GMT
- request:
    method: get
    uri: http://locomotive.engine.dev:3000/locomotive/api/pages.json?auth_token=jKkxPorzWo8uNYUxiiQC
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"a92c6f0783ec1d04ebed1da8c968c8da"'
    body:
      encoding: US-ASCII
      string: ! '[{"id":"51010fd2c82cd17179000002","_id":"51010fd2c82cd17179000002","created_at":"2013-01-24T11:41:22+01:00","updated_at":"2013-01-24T11:43:08+01:00","title":"Home
        page","slug":"index","position":0,"response_type":"text/html","cache_strategy":"none","redirect":false,"redirect_type":301,"listed":true,"published":true,"templatized":false,"templatized_from_parent":false,"fullpath":"index","localized_fullpaths":{"en":"","es":"es"},"depth":0,"translated_in":["en","es"],"raw_template":"{%
        block content %}\r\n  Content of the home page\r\n{% endblock %}\r\n\r\n","escaped_raw_template":"{%
        block content %}\r\n  Content of the home page\r\n{% endblock %}\r\n\r\n","editable_elements":[]},{"id":"5101101cc82cd12530000017","_id":"5101101cc82cd12530000017","created_at":"2013-01-24T11:42:36+01:00","updated_at":"2013-01-24T11:43:08+01:00","title":"translated","slug":"translated","position":0,"response_type":"text/html","cache_strategy":"none","redirect":false,"redirect_type":301,"listed":true,"published":true,"templatized":false,"templatized_from_parent":false,"fullpath":"translated","localized_fullpaths":{"en":"translated","es":"es/translated"},"depth":1,"translated_in":["en"],"raw_template":"{{
        ''hello_world'' | translate}}","escaped_raw_template":"{{ &#x27;hello_world&#x27;
        | translate}}","editable_elements":[]},{"id":"5101101cc82cd12530000019","_id":"5101101cc82cd12530000019","created_at":"2013-01-24T11:42:36+01:00","updated_at":"2013-01-24T11:43:08+01:00","title":"Latest","slug":"latest","position":0,"response_type":"text/html","cache_strategy":"none","redirect":false,"redirect_type":301,"listed":true,"published":true,"templatized":false,"templatized_from_parent":false,"fullpath":"products/latest","localized_fullpaths":{"en":"products/latest","es":"es/products/latest"},"depth":2,"translated_in":["en"],"raw_template":"{%
        extends parent %}\r\n{% block content %}\r\n  The name of the latest product
        is: {{ contents.products.last.name }}\r\n{% endblock %}","escaped_raw_template":"{%
        extends parent %}\r\n{% block content %}\r\n  The name of the latest product
        is: {{ contents.products.last.name }}\r\n{% endblock %}","editable_elements":[]},{"id":"51010fd2c82cd17179000003","_id":"51010fd2c82cd17179000003","created_at":"2013-01-24T11:41:22+01:00","updated_at":"2013-01-24T11:43:08+01:00","title":"Page
        not found","slug":"404","position":1,"response_type":"text/html","cache_str[...]
- request:
    method: get
    uri: http://locomotive.engine.dev:3000/locomotive/api/pages/51010fd2c82cd17179000002.json?auth_token=jKkxPorzWo8uNYUxiiQC&locale=es
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"6ddd24909444a1ff7d0e9b9da8b6cff3"'
    body:
      encoding: US-ASCII
      string: ! '{"id":"51010fd2c82cd17179000002","_id":"51010fd2c82cd17179000002","created_at":"2013-01-24T11:41:22+01:00","updated_at":"2013-01-24T11:43:08+01:00","title":"P\u00e1gina
        de inicio","slug":"index","position":0,"response_type":"text/html","cache_strategy":"none","redirect":false,"redirect_type":301,"listed":true,"published":true,"templatized":false,"templatized_from_parent":false,"fullpath":"index","localized_fullpaths":{"en":"","es":"es"},"depth":0,"translated_in":["en","es"],"raw_template":"New
        content of the home page\r\n","escaped_raw_template":"New content of the home
        page\r\n","editable_elements":[]}'
  recorded_at: Thu, 24 Jan 2013 10:44:24 GMT
[...]
- request:
    method: get
    uri: http://locomotive.engine.dev:3000/locomotive/api/theme_assets.json?auth_token=jKkxPorzWo8uNYUxiiQC
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"d751713988987e9331980363e24189ce"'
    body:
      encoding: US-ASCII
      string: ! '[]'
  recorded_at: Thu, 24 Jan 2013 10:44:24 GMT
- request:
    method: get
    uri: http://locomotive.engine.dev:3000/locomotive/api/translations.json?auth_token=jKkxPorzWo8uNYUxiiQC
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"af6cd1eda244013c9eb7c76fbc7b662b"'
    body:
      encoding: US-ASCII
      string: ! '[{"id":"51011077c82cd1253000001d","_id":"51011077c82cd1253000001d","created_at":"2013-01-24T11:44:07+01:00","updated_at":"2013-01-24T11:44:07+01:00","key":"hello_world","values":{"en":"Hello
        world!","es":"\u00a1Hola, Mundo!"}}]'
  recorded_at: Thu, 24 Jan 2013 10:44:24 GMT
- request:
    method: post
    uri: http://locomotive.engine.dev:3000/locomotive/api/tokens.json?auth_token=jKkxPorzWo8uNYUxiiQC
    body:
      encoding: US-ASCII
      string: email=admin%40locomotivecms.com&password=locomotive
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Location:
      - http://locomotive.engine.dev:3000/locomotive/
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"e29ee4caaed0880055c032e8a8586878"'
    body:
      encoding: US-ASCII
      string: ! '{"token":"jKkxPorzWo8uNYUxiiQC"}'
  recorded_at: Thu, 24 Jan 2013 10:44:51 GMT
recorded_with: VCR 2.3.0
