---
http_interactions:
- request:
    method: post
    uri: http://locomotive.engine.dev:3000/locomotive/api/tokens.json
    body:
      encoding: US-ASCII
      string: email=admin%40locomotivecms.com&password=locomotive
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Location:
      - http://locomotive.engine.dev:3000/locomotive/
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"95752f9e2614ece1b15c07f3d8620bfe"'
    body:
      encoding: US-ASCII
      string: ! '{"token":"syqtyQLXyex7st35PNUM"}'
  recorded_at: Tue, 15 Jan 2013 08:45:03 GMT
- request:
    method: get
    uri: http://locomotive.engine.dev:3000/locomotive/api/current_site.json?auth_token=syqtyQLXyex7st35PNUM
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"03ea30ec3425b98d8fb719986ccd1258"'
    body:
      encoding: US-ASCII
      string: ! '{"id":"50f3fd84c82cd14f39000005","_id":"50f3fd84c82cd14f39000005","created_at":"2013-01-14T13:43:48+01:00","updated_at":"2013-01-14T13:44:58+01:00","name":"locomotive","locales":["en","es"],"domain_name":"engine.dev","subdomain":"locomotive","domains":["locomotive.engine.dev"],"robots_txt":null,"seo_title":null,"meta_keywords":null,"meta_description":null,"domains_without_subdomain":[],"memberships":[{"id":"50f3fd84c82cd14f39000006","_id":"50f3fd84c82cd14f39000006","created_at":null,"updated_at":null,"account_id":"50f3fd7dc82cd14f39000003","name":"Admin","email":"admin@locomotivecms.com","role":"admin","role_name":"Administrator","can_update":false,"grant_admin":true}]}'
  recorded_at: Tue, 15 Jan 2013 08:45:03 GMT
- request:
    method: get
    uri: http://locomotive.engine.dev:3000/locomotive/api/current_site.json?auth_token=syqtyQLXyex7st35PNUM&locale=es
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"555f421ce670f7af13d0f716a66bd624"'
    body:
      encoding: US-ASCII
      string: ! '{"id":"50f3fd84c82cd14f39000005","_id":"50f3fd84c82cd14f39000005","created_at":"2013-01-14T13:43:48+01:00","updated_at":"2013-01-14T13:44:58+01:00","name":"locomotive","locales":["en","es"],"domain_name":"engine.dev","subdomain":"locomotive","domains":["locomotive.engine.dev"],"robots_txt":null,"seo_title":null,"meta_keywords":null,"meta_description":null,"domains_without_subdomain":[],"memberships":[{"id":"50f3fd84c82cd14f39000006","_id":"50f3fd84c82cd14f39000006","created_at":null,"updated_at":null,"account_id":"50f3fd7dc82cd14f39000003","name":"Admin","email":"admin@locomotivecms.com","role":"admin","role_name":"Administrador","can_update":false,"grant_admin":true}]}'
  recorded_at: Tue, 15 Jan 2013 08:45:04 GMT
- request:
    method: get
    uri: http://locomotive.engine.dev:3000/locomotive/api/snippets.json?auth_token=syqtyQLXyex7st35PNUM
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"d751713988987e9331980363e24189ce"'
    body:
      encoding: US-ASCII
      string: ! '[]'
  recorded_at: Tue, 15 Jan 2013 08:45:04 GMT
- request:
    method: get
    uri: http://locomotive.engine.dev:3000/locomotive/api/content_types.json?auth_token=syqtyQLXyex7st35PNUM
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"1f58e2a5247c307cd0466f755ea2540a"'
    body:
      encoding: US-ASCII
      string: ! '[{"id":"50f40738c82cd14f39000019","_id":"50f40738c82cd14f39000019","created_at":"2013-01-14T14:25:12+01:00","updated_at":"2013-01-15T09:41:12+01:00","name":"Products","description":"My
        products collection","slug":"products","order_by":"created_at","order_direction":"asc","label_field_name":"name","group_by_field_id":null,"public_submission_accounts":null,"entries_custom_fields":[{"_id":"50f40738c82cd14f3900001a","class_name":null,"created_at":null,"hint":null,"inverse_of":null,"label":"name","localized":true,"name":"name","order_by":null,"position":0,"required":true,"text_formatting":"html","type":"string","ui_enabled":true,"updated_at":null,"id":"50f40738c82cd14f3900001a"},{"_id":"50f40738c82cd14f3900001b","class_name":null,"created_at":null,"hint":null,"inverse_of":null,"label":"available","localized":false,"name":"available","order_by":null,"position":1,"required":false,"text_formatting":"html","type":"boolean","ui_enabled":true,"updated_at":null,"id":"50f40738c82cd14f3900001b"}],"klass_name":"Locomotive::Entry50f40738c82cd14f39000019"}]'
  recorded_at: Tue, 15 Jan 2013 08:45:04 GMT
- request:
    method: get
    uri: http://locomotive.engine.dev:3000/locomotive/api/content_types/products/entries.json?auth_token=syqtyQLXyex7st35PNUM
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"f1104a72d68f473b940476311a5b7695"'
    body:
      encoding: US-ASCII
      string: ! '[{"id":"50f511fac82cd14f39000025","_id":"50f511fac82cd14f39000025","created_at":"2013-01-15T09:23:22+01:00","updated_at":"2013-01-15T09:23:22+01:00","name":"Useless
        stuff","available":true,"_label":"Useless stuff","_slug":"useless-stuff","_position":1,"content_type_slug":"products","select_custom_fields":[],"file_custom_fields":[],"has_many_custom_fields":[],"many_to_many_custom_fields":[],"translated_in":["en"],"safe_attributes":["name","available","_slug","seo_title","meta_keywords","meta_description","_destroy"]}]'
  recorded_at: Tue, 15 Jan 2013 08:45:04 GMT
- request:
    method: get
    uri: http://locomotive.engine.dev:3000/locomotive/api/content_types/products/entries/50f511fac82cd14f39000025.json?auth_token=syqtyQLXyex7st35PNUM&locale=en
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"81d5c739a1b20bb5a80fccda8805c9e3"'
    body:
      encoding: US-ASCII
      string: ! '{"id":"50f511fac82cd14f39000025","_id":"50f511fac82cd14f39000025","created_at":"2013-01-15T09:23:22+01:00","updated_at":"2013-01-15T09:23:22+01:00","name":"Useless
        stuff","available":true,"_label":"Useless stuff","_slug":"useless-stuff","_position":1,"content_type_slug":"products","select_custom_fields":[],"file_custom_fields":[],"has_many_custom_fields":[],"many_to_many_custom_fields":[],"translated_in":["en"],"safe_attributes":["name","available","_slug","seo_title","meta_keywords","meta_description","_destroy"]}'
  recorded_at: Tue, 15 Jan 2013 08:45:04 GMT
- request:
    method: get
    uri: http://locomotive.engine.dev:3000/locomotive/api/content_assets.json?auth_token=syqtyQLXyex7st35PNUM
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"d751713988987e9331980363e24189ce"'
    body:
      encoding: US-ASCII
      string: ! '[]'
  recorded_at: Tue, 15 Jan 2013 08:45:04 GMT
- request:
    method: get
    uri: http://locomotive.engine.dev:3000/locomotive/api/pages.json?auth_token=syqtyQLXyex7st35PNUM
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"ef568388ca833405fa7f1285fbafa848"'
    body:
      encoding: US-ASCII
      string: ! '[{"id":"50f3fd84c82cd14f39000007","_id":"50f3fd84c82cd14f39000007","created_at":"2013-01-14T13:43:49+01:00","updated_at":"2013-01-15T09:42:16+01:00","title":"Home
        page","slug":"index","fullpath":"index","handle":null,"position":0,"raw_template":"{%
        block content %}\r\n  Content of the home page\r\n{% endblock %}\r\n\r\n","published":true,"listed":true,"templatized":false,"templatized_from_parent":false,"target_klass_slug":null,"redirect":false,"redirect_url":null,"cache_strategy":"none","response_type":"text/html","template_changed":null,"editable_elements":[],"localized_fullpaths":{"en":"","es":"es"},"translated_in":["en","es"]},{"id":"50f3fdc4c82cd14f39000012","_id":"50f3fdc4c82cd14f39000012","created_at":"2013-01-14T13:44:52+01:00","updated_at":"2013-01-15T09:41:13+01:00","title":"translated","slug":"translated","fullpath":"translated","handle":null,"position":0,"raw_template":"{{
        ''hello_world'' | translate}}","published":true,"listed":true,"templatized":false,"templatized_from_parent":false,"target_klass_slug":null,"redirect":false,"redirect_url":null,"cache_strategy":"none","response_type":"text/html","template_changed":null,"editable_elements":[],"localized_fullpaths":{"en":"translated","es":"es/translated"},"translated_in":["en","es"]},{"id":"50f51298c82cd14f39000033","_id":"50f51298c82cd14f39000033","created_at":"2013-01-15T09:26:00+01:00","updated_at":"2013-01-15T09:44:43+01:00","title":"Latest","slug":"latest","fullpath":"products/latest","handle":null,"position":0,"raw_template":"{%
        extends parent %}\r\n{% block content %}\r\n  The name of the latest product
        is: {{ contents.products.last.name }}\r\n{% endblock %}","published":true,"listed":true,"templatized":false,"templatized_from_parent":false,"target_klass_slug":null,"redirect":false,"redirect_url":null,"cache_strategy":"none","response_type":"text/html","template_changed":null,"editable_elements":[],"localized_fullpaths":{"en":"products/latest","es":"es/products/latest"},"translated_in":["en"]},{"id":"50f3fd85c82cd14f39000008","_id":"50f3fd85c82cd14f39000008","created_at":"2013-01-14T13:43:49+01:00[...]
- request:
    method: get
    uri: http://locomotive.engine.dev:3000/locomotive/api/pages/50f3fd84c82cd14f39000007.json?auth_token=syqtyQLXyex7st35PNUM&locale=es
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"248b4e13f13df0d8cb0ba9e505bab68d"'
    body:
      encoding: US-ASCII
      string: ! '{"id":"50f3fd84c82cd14f39000007","_id":"50f3fd84c82cd14f39000007","created_at":"2013-01-14T13:43:49+01:00","updated_at":"2013-01-15T09:42:16+01:00","title":"P\u00e1gina
        de inicio","slug":"index","fullpath":"index","handle":null,"position":0,"raw_template":"New
        content of the home page\r\n","published":true,"listed":true,"templatized":false,"templatized_from_parent":false,"target_klass_slug":null,"redirect":false,"redirect_url":null,"cache_strategy":"none","response_type":"text/html","template_changed":null,"editable_elements":[],"localized_fullpaths":{"en":"","es":"es"},"translated_in":["en","es"]}'
  recorded_at: Tue, 15 Jan 2013 08:45:04 GMT
[...]
- request:
    method: get
    uri: http://locomotive.engine.dev:3000/locomotive/api/theme_assets.json?auth_token=syqtyQLXyex7st35PNUM
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"d751713988987e9331980363e24189ce"'
    body:
      encoding: US-ASCII
      string: ! '[]'
  recorded_at: Tue, 15 Jan 2013 08:45:04 GMT
- request:
    method: post
    uri: http://locomotive.engine.dev:3000/locomotive/api/tokens.json?auth_token=syqtyQLXyex7st35PNUM
    body:
      encoding: US-ASCII
      string: email=admin%40locomotivecms.com&password=locomotive
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Location:
      - http://locomotive.engine.dev:3000/locomotive/
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"95752f9e2614ece1b15c07f3d8620bfe"'
    body:
      encoding: US-ASCII
      string: ! '{"token":"syqtyQLXyex7st35PNUM"}'
  recorded_at: Tue, 15 Jan 2013 08:45:08 GMT
recorded_with: VCR 2.3.0
