---
http_interactions:
- request:
    method: post
    uri: http://locomotive.engine.dev:3000/locomotive/api/tokens.json?auth_token=C3NNrE3RCZgGwiYoyJeQ
    body:
      encoding: US-ASCII
      string: email=admin%40locomotivecms.com&password=locomotive
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Location:
      - http://locomotive.engine.dev:3000/locomotive/
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"4f7e33d0d4bfa634c36913dd6b5c2881"'
    body:
      encoding: US-ASCII
      string: ! '{"token":"C3NNrE3RCZgGwiYoyJeQ"}'
  recorded_at: Tue, 18 Dec 2012 12:15:13 GMT
- request:
    method: get
    uri: http://locomotive.engine.dev:3000/locomotive/api/current_site.json?auth_token=C3NNrE3RCZgGwiYoyJeQ
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"fce084a1bb09548212b111d21485000f"'
    body:
      encoding: US-ASCII
      string: ! '{"id":"50c99d81c82cd100d3000005","_id":"50c99d81c82cd100d3000005","created_at":"2012-12-13T10:18:57+01:00","updated_at":"2012-12-13T10:18:57+01:00","name":"locomotive","locales":["en"],"domain_name":"engine.dev","subdomain":"locomotive","domains":["locomotive.engine.dev"],"robots_txt":null,"seo_title":null,"meta_keywords":null,"meta_description":null,"domains_without_subdomain":[],"memberships":[{"id":"50c99d81c82cd100d3000006","_id":"50c99d81c82cd100d3000006","created_at":null,"updated_at":null,"account_id":"50c99d78c82cd100d3000003","name":"Locomotive","email":"admin@locomotivecms.com","role":"admin","role_name":"Administrator","can_update":false,"grant_admin":true}]}'
  recorded_at: Tue, 18 Dec 2012 12:15:13 GMT
- request:
    method: get
    uri: http://locomotive.engine.dev:3000/locomotive/api/snippets.json?auth_token=C3NNrE3RCZgGwiYoyJeQ
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"d751713988987e9331980363e24189ce"'
    body:
      encoding: US-ASCII
      string: ! '[]'
  recorded_at: Tue, 18 Dec 2012 12:15:13 GMT
- request:
    method: get
    uri: http://locomotive.engine.dev:3000/locomotive/api/content_types.json?auth_token=C3NNrE3RCZgGwiYoyJeQ
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"d751713988987e9331980363e24189ce"'
    body:
      encoding: US-ASCII
      string: ! '[]'
  recorded_at: Tue, 18 Dec 2012 12:15:13 GMT
- request:
    method: get
    uri: http://locomotive.engine.dev:3000/locomotive/api/pages.json?auth_token=C3NNrE3RCZgGwiYoyJeQ
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"efb611ce392a6a65862151f4bf0dfdd7"'
    body:
      encoding: US-ASCII
      string: ! '[{"id":"50c99d81c82cd100d3000007","_id":"50c99d81c82cd100d3000007","created_at":"2012-12-13T10:18:58+01:00","updated_at":"2012-12-18T12:44:03+01:00","title":"Home
        page","slug":"index","fullpath":"index","handle":null,"position":0,"raw_template":"Content
        of the home page","published":true,"listed":true,"templatized":false,"templatized_from_parent":false,"target_klass_slug":null,"redirect":false,"redirect_url":null,"cache_strategy":"none","response_type":"text/html","template_changed":null,"editable_elements":[],"localized_fullpaths":{"en":""},"translated_in":["en"]},{"id":"50c99d82c82cd100d3000008","_id":"50c99d82c82cd100d3000008","created_at":"2012-12-13T10:18:58+01:00","updated_at":"2012-12-18T12:44:03+01:00","title":"Page
        not found","slug":"404","fullpath":"404","handle":null,"position":1,"raw_template":"Content
        of the 404 page","published":true,"listed":true,"templatized":false,"templatized_from_parent":false,"target_klass_slug":null,"redirect":false,"redirect_url":null,"cache_strategy":"none","response_type":"text/html","template_changed":null,"editable_elements":[],"localized_fullpaths":{"en":"404"},"translated_in":["en"]}]'
  recorded_at: Tue, 18 Dec 2012 12:15:13 GMT
- request:
    method: put
    uri: http://locomotive.engine.dev:3000/locomotive/api/pages/50c99d82c82cd100d3000008.json?auth_token=C3NNrE3RCZgGwiYoyJeQ
    body:
      encoding: US-ASCII
      string: page[listed]=true&page[published]=true&page[cache_strategy]=none&page[response_type]=text%2Fhtml&page[raw_template]=Content%20of%20the%20404%20page&locale=en
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      X-Message:
      - ! '"Page was successfully updated."'
      X-Message-Type:
      - notice
      Location:
      - http://locomotive.engine.dev:3000/locomotive/api/pages
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"2b7d01a4cb55f67604de7be8f1e335b2"'
    body:
      encoding: US-ASCII
      string: ! '{"id":"50c99d82c82cd100d3000008","_id":"50c99d82c82cd100d3000008","created_at":"2012-12-13T10:18:58+01:00","updated_at":"2012-12-18T13:15:13+01:00","title":"Page
        not found","slug":"404","fullpath":"404","handle":null,"position":1,"raw_template":"Content
        of the 404 page","published":true,"listed":true,"templatized":false,"templatized_from_parent":false,"target_klass_slug":null,"redirect":false,"redirect_url":null,"cache_strategy":"none","response_type":"text/html","template_changed":null,"editable_elements":[],"localized_fullpaths":{"en":"404"},"translated_in":["en"]}'
  recorded_at: Tue, 18 Dec 2012 12:15:13 GMT
[...]
- request:
    method: get
    uri: http://locomotive.engine.dev:3000/locomotive/api/theme_assets.json?auth_token=C3NNrE3RCZgGwiYoyJeQ
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"d751713988987e9331980363e24189ce"'
    body:
      encoding: US-ASCII
      string: ! '[]'
  recorded_at: Tue, 18 Dec 2012 12:15:13 GMT
recorded_with: VCR 2.3.0
