---
http_interactions:
- request:
    method: post
    uri: http://locomotive.engine.dev:3000/locomotive/api/tokens.json?auth_token=jKkxPorzWo8uNYUxiiQC
    body:
      encoding: US-ASCII
      string: email=admin%40locomotivecms.com&password=locomotive
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Location:
      - http://locomotive.engine.dev:3000/locomotive/
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"e29ee4caaed0880055c032e8a8586878"'
    body:
      encoding: US-ASCII
      string: ! '{"token":"jKkxPorzWo8uNYUxiiQC"}'
  recorded_at: Thu, 24 Jan 2013 11:09:53 GMT
- request:
    method: get
    uri: http://locomotive.engine.dev:3000/locomotive/api/current_site.json?auth_token=jKkxPorzWo8uNYUxiiQC
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"8deb2650b85b6b92dd0dec38083f73ba"'
    body:
      encoding: US-ASCII
      string: ! '{"id":"51010fd2c82cd17179000001","_id":"51010fd2c82cd17179000001","created_at":"2013-01-24T11:41:22+01:00","updated_at":"2013-01-24T12:09:43+01:00","name":"locomotive","locales":["en","es"],"subdomain":"locomotive","domains":["locomotive.engine.dev"],"domains_without_subdomain":[],"domain_name":"engine.dev","memberships":[{"id":"51010fd2c82cd17179000005","_id":"51010fd2c82cd17179000005","role":"admin","role_name":"Administrator","can_update":false,"grant_admin":true,"account_id":"51010fd2c82cd17179000004","name":"Admin","email":"admin@locomotivecms.com"}]}'
  recorded_at: Thu, 24 Jan 2013 11:09:53 GMT
- request:
    method: put
    uri: http://locomotive.engine.dev:3000/locomotive/api/sites/51010fd2c82cd17179000001.json?auth_token=jKkxPorzWo8uNYUxiiQC
    body:
      encoding: US-ASCII
      string: site[name]=locomotive&site[locales][]=en&site[locales][]=es&site[subdomain]=locomotive&site[domains][]=locomotive.engine.dev&locale=en
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      X-Message:
      - ! '"Site was successfully updated."'
      X-Message-Type:
      - notice
      Location:
      - http://locomotive.engine.dev:3000/locomotive/sites/51010fd2c82cd17179000001
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"e95953c2f43b60d77e276848c51e95fb"'
    body:
      encoding: US-ASCII
      string: ! '{"id":"51010fd2c82cd17179000001","_id":"51010fd2c82cd17179000001","created_at":"2013-01-24T11:41:22+01:00","updated_at":"2013-01-24T12:09:53+01:00","name":"locomotive","locales":["en","es"],"subdomain":"locomotive","domains":["locomotive.engine.dev"],"domains_without_subdomain":[],"domain_name":"engine.dev","memberships":[{"id":"51010fd2c82cd17179000005","_id":"51010fd2c82cd17179000005","role":"admin","role_name":"Administrator","can_update":false,"grant_admin":true,"account_id":"51010fd2c82cd17179000004","name":"Admin","email":"admin@locomotivecms.com"}]}'
  recorded_at: Thu, 24 Jan 2013 11:09:53 GMT
[...]
- request:
    method: get
    uri: http://locomotive.engine.dev:3000/locomotive/api/snippets.json?auth_token=jKkxPorzWo8uNYUxiiQC
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"d751713988987e9331980363e24189ce"'
    body:
      encoding: US-ASCII
      string: ! '[]'
  recorded_at: Thu, 24 Jan 2013 11:09:53 GMT
- request:
    method: get
    uri: http://locomotive.engine.dev:3000/locomotive/api/content_types.json?auth_token=jKkxPorzWo8uNYUxiiQC
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"821b57c9b4131678fd1b597e87252e96"'
    body:
      encoding: US-ASCII
      string: ! '[{"id":"5101101bc82cd12530000013","_id":"5101101bc82cd12530000013","created_at":"2013-01-24T11:42:35+01:00","updated_at":"2013-01-24T11:42:35+01:00","name":"Products","slug":"products","entries_custom_fields":[{"id":"5101101bc82cd12530000014","_id":"5101101bc82cd12530000014","name":"name","label":"name","type":"string","required":true,"localized":true,"position":0},{"id":"5101101bc82cd12530000015","_id":"5101101bc82cd12530000015","name":"available","label":"available","type":"boolean","required":false,"localized":false,"position":1}],"description":"My
        products collection","label_field_name":"name","order_by":"created_at","order_direction":"asc","order_by_field_name":"created_at","public_submission_enabled":false,"public_submission_account_emails":[]}]'
  recorded_at: Thu, 24 Jan 2013 11:09:53 GMT
- request:
    method: put
    uri: http://locomotive.engine.dev:3000/locomotive/api/content_types/5101101bc82cd12530000013.json?auth_token=jKkxPorzWo8uNYUxiiQC
    body:
      encoding: US-ASCII
      string: content_type[name]=Products&content_type[description]=My%20products%20collection&content_type[slug]=products&content_type[label_field_name]=name&content_type[order_by]=created_at&content_type[entries_custom_fields][][label]=name&content_type[entries_custom_fields][][name]=name&content_type[...]
- request:
    method: get
    uri: http://locomotive.engine.dev:3000/locomotive/api/pages.json?auth_token=jKkxPorzWo8uNYUxiiQC
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"b2419b60bc5a99c7f9aec8e74a5b8557"'
    body:
      encoding: US-ASCII
      string: ! '[{"id":"51010fd2c82cd17179000002","_id":"51010fd2c82cd17179000002","created_at":"2013-01-24T11:41:22+01:00","updated_at":"2013-01-24T12:09:44+01:00","title":"Home
        page","slug":"index","position":0,"response_type":"text/html","cache_strategy":"none","redirect":false,"redirect_type":301,"listed":true,"published":true,"templatized":false,"templatized_from_parent":false,"fullpath":"index","localized_fullpaths":{"en":"","es":"es"},"depth":0,"translated_in":["en","es"],"raw_template":"{%
        block content %}\r\n  Content of the home page\r\n{% endblock %}\r\n\r\n","escaped_raw_template":"{%
        block content %}\r\n  Content of the home page\r\n{% endblock %}\r\n\r\n","editable_elements":[]},{"id":"5101101cc82cd12530000017","_id":"5101101cc82cd12530000017","created_at":"2013-01-24T11:42:36+01:00","updated_at":"2013-01-24T12:09:43+01:00","title":"translated","slug":"translated","position":0,"response_type":"text/html","cache_strategy":"none","redirect":false,"redirect_type":301,"listed":true,"published":true,"templatized":false,"templatized_from_parent":false,"fullpath":"translated","localized_fullpaths":{"en":"translated","es":"es/translated"},"depth":1,"translated_in":["en"],"raw_template":"{{
        ''hello_world'' | translate}}","escaped_raw_template":"{{ &#x27;hello_world&#x27;
        | translate}}","editable_elements":[]},{"id":"5101101cc82cd12530000019","_id":"5101101cc82cd12530000019","created_at":"2013-01-24T11:42:36+01:00","updated_at":"2013-01-24T12:09:44+01:00","title":"Latest","slug":"latest","position":0,"response_type":"text/html","cache_strategy":"none","redirect":false,"redirect_type":301,"listed":true,"published":true,"templatized":false,"templatized_from_parent":false,"fullpath":"products/latest","localized_fullpaths":{"en":"products/latest","es":"es/products/latest"},"depth":2,"translated_in":["en"],"raw_template":"{%
        extends parent %}\r\n{% block content %}\r\n  The name of the latest product
        is: {{ contents.products.last.name }}\r\n{% endblock %}","escaped_raw_template":"{%
        extends parent %}\r\n{% block content %}\r\n  The name of the latest product
        is: {{ contents.products.last.name }}\r\n{% endblock %}","editable_elements":[]},{"id":"51010fd2c82cd17179000003","_id":"51010fd2c82cd17179000003","created_at":"2013-01-24T11:41:22+01:00","updated_at":"2013-01-24T12:09:44+01:00","title":"Page
        not found","slug":"404","position":1,"response_type":"text/html","cache_str[...]
- request:
    method: put
    uri: http://locomotive.engine.dev:3000/locomotive/api/pages/51010fd2c82cd17179000003.json?auth_token=jKkxPorzWo8uNYUxiiQC
    body:
      encoding: US-ASCII
      string: page[title]=Page%20not%20found&page[redirect_type]=301&page[listed]=true&page[published]=true&page[cache_strategy]=none&page[response_type]=text%2Fhtml&page[position]=1&page[raw_template]=Content%20of%20the%20404%20page&locale=en
    headers: {}
  response:
    status:
      code: 200
      messag[...]
- request:
    method: put
    uri: http://locomotive.engine.dev:3000/locomotive/api/pages/51010fd2c82cd17179000002.json?auth_token=jKkxPorzWo8uNYUxiiQC
    body:
      encoding: US-ASCII
      string: page[title]=Home%20page&page[redirect_type]=301&page[listed]=true&page[published]=true&page[cache_strategy]=none&page[response_type]=text%2Fhtml&page[position]=0&page[raw_template]=%7B%25%20block%20content%20%25%7D%0D%0A%20%20New%20content%20of%20the%20home%20page%0D%0A%7B%25%20endblock%20%25%7D%0D%0A%0D%0A&locale=en
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      X-Message:
      - ! '"Page was successfully updated."'
      X-Message-Type:
      - notice
      Location:
      - http://locomotive.engine.dev:3000/locomotive/api/pages
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"1de26ec00bd63890814409b152c775b7"'
    body:
      encoding: US-ASCII
      string: ! '{"id":"51010fd2c82cd17179000002","_id":"51010fd2c82cd17179000002","created_at":"2013-01-24T11:41:22+01:00","updated_at":"2013-01-24T12:09:53+01:00","title":"Home
        page","slug":"index","position":0,"response_type":"text/html","cache_strategy":"none","redirect":false,"redirect_type":301,"listed":true,"published":true,"templatized":false,"templatized_from_parent":false,"fullpath":"index","localized_fullpaths":{"en":"","es":"es"},"depth":0,"template_changed":true,"translated_in":["en","es"],"raw_template":"{%
        block content %}\r\n  New content of the home page\r\n{% endblock %}\r\n\r\n","escaped_raw_template":"{%
        block content %}\r\n  New content of the home page\r\n{% endblock %}\r\n\r\n","editable_elements":[]}'
  recorded_at: Thu, 24 Jan 2013 11:09:53 GMT
[...]
- request:
    method: get
    uri: http://locomotive.engine.dev:3000/locomotive/api/theme_assets.json?auth_token=jKkxPorzWo8uNYUxiiQC
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"d751713988987e9331980363e24189ce"'
    body:
      encoding: US-ASCII
      string: ! '[]'
  recorded_at: Thu, 24 Jan 2013 11:09:53 GMT
- request:
    method: put
    uri: http://locomotive.engine.dev:3000/locomotive/api/translations/51011077c82cd1253000001d.json?auth_token=jKkxPorzWo8uNYUxiiQC
    body:
      encoding: US-ASCII
      string: translation[_id]=51011077c82cd1253000001d&translation[key]=hello_world&translation[values][en]=Hello%20world!&translation[values][es]=%C2%A1Hola%2C%20Mundo!
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      X-Message:
      - ! '"Translation was successfully updated."'
      X-Message-Type:
      - notice
      Location:
      - http://locomotive.engine.dev:3000/locomotive/api/translations/51011077c82cd1253000001d
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"b567d63bf604a10c2ef8177f45a0f9ea"'
    body:
      encoding: US-ASCII
      string: ! '{"id":"51011077c82cd1253000001d","_id":"51011077c82cd1253000001d","created_at":"2013-01-24T11:44:07+01:00","updated_at":"2013-01-24T11:44:07+01:00","key":"hello_world","values":{"en":"Hello
        world!","es":"\u00a1Hola, Mundo!"}}'
  recorded_at: Thu, 24 Jan 2013 11:09:54 GMT
- request:
    method: get
    uri: http://locomotive.engine.dev:3000/locomotive/api/translations.json?auth_token=jKkxPorzWo8uNYUxiiQC
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '[]'
  recorded_at: Wed, 27 Feb 2013 11:39:27 GMT
recorded_with: VCR 2.3.0
