---
title: Home page
published: true
---
!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %title {{ site.name }}
    %meta{name: "keywords", value: "{{ site.meta_keywords }}"}
    %meta{name: "description", value: "{{ site.meta_description }}"}
  %body
    %h1 {{ page.title }}
    {% block 'main' %}
    %p Lorem ipsum....
    {% endblock %}