@font-face {
  font-family: 'ChunkFiveRoman';
  src: url('chunkfive-webfont.eot');
  src: local('☺'), url('chunkfive-webfont.woff') format('woff'), url('chunkfive-webfont.ttf') format('truetype'), url('chunkfive-webfont.svg#webfontwlZ5ec8v') format('svg');
  font-weight: normal;
  font-style: normal;
}

