<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% path_to home %}">{{ site.name }}</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="{% if page.handle == 'home' %}active{% endif %}">
          <a href="{% path_to home %}">Home</a>
        </li>
        {% for page_in_nav in site.pages %}
          {% if page_in_nav.depth == 1 %}
            <li class="{% if page.fullpath == page_in_nav.fullpath %}active{% endif %}">
              {% link_to page_in_nav %}
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
